a:link {
  color: #000099;
}
a:visited {
  color: #000099;
}
a:hover {
  color: #000099;
}
a:hover,
a:active,
a:focus {
  opacity: 0.7;
  transition: all 0.3s;
}

[data-whatinput="mouse"] *:focus,
[data-whatinput="touch"] *:focus {
  outline: none;
}
