// ==========================================================================
// Color
// ==========================================================================

// カラーパレット
$color-text: #333 !default;
$color-white: white !default;

// ==========================================================================
// Typography
// ==========================================================================

$base-font-size: 16px;
$base-line-height: 22px;

// ベースになるline-height
$global-line-height: 1.8 !default;

// システムフォント
$global-font-family-sans-serif: yakuhanjps, "Hiragino Kaku Gothic ProN", meiryo,
  sans-serif !default;
$global-font-family-serif: "Hiragino Mincho ProN", "HG明朝E", meiryo, serif !default;
$global-font-family-monospace: consolas, menlo, courier, monospace !default;

// ==========================================================================
// Break Point
// ==========================================================================
$breakpoint-mobile: 560px;
$breakpoint-pc: 960px;

// ==========================================================================
// Directory
// ==========================================================================
$common-img-dir: "/img/";

// ==========================================================================
// other
// ==========================================================================
$header-height: 80px;
