/* stylelint-disable  declaration-no-important */

.u-link-bare {
  text-decoration: none !important;
}

.u-link-natural {
  color: inherit !important;
  text-decoration: underline !important;
}

.u-link-obvious {
  text-decoration: underline !important;
}
